body {
    margin: 0;
}

#globalnav {
    background: rgba(0, 0, 0, 0.8);
}

#globalnav *, #globalnav *:before, #globalnav *:after {
    margin: 0;
}

#globalnav .nav-list {
    padding: 0;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:833px) {
    #globalnav .nav-list {
        display: block;
    }
}

#globalnav .nav-list li {
    display: block;
    padding: 1%;
}

#globalnav .nav-list .nav-link { 
    color: azure;
    text-decoration: none;
}

#globalnav .nav-list .nav-link:hover {
    color: aqua;
}